# ==============================
# GIT / CONTROLE DE VERSÃO
# ==============================
.git
.gitignore

# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# AMBIENTE
# ==============================
.env
.venv/

# ==============================
# DADOS (NÃO DEVEM IR PARA IMAGEM)
# ==============================
data/

# ==============================
# TESTES
# ==============================
tests/

# ==============================
# DOCUMENTAÇÃO
# ==============================
docs/

# ==============================
# IDE / EDITORES
# ==============================
.vscode/
.idea/

# ==============================
# SISTEMA OPERACIONAL
# ==============================
.DS_Store