# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
.env

# Dados (controle fino)
data/arq_aux/
data/bronze/

# Testes
tests/

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/